<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista!</title>
  <link rel="stylesheet" href="../css/style.css" media="all">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
/>
</head>

<body>
  
  
  
  <section id="lista" action="/mesa">
    <div id="cards" class="pro-container">
      <template id="template-card">
        <div class="conteudo">
            <h3 class="nome">Garçom:</h3>
            <h5 class="nome">Garcom</h5>
            <h3 class="nome">Numero Mesa:</h3>
            <h4 class="numeroMesa">Numero</h4>
            
        </div>
      </template>
    </div>
  </section>
  <script src="../bd/data.js" type="module"></script>
</body>

</html>